<div style = "margin-left:150px">
	<table>
		<h3>Number of Products{<%= @category.products.count %>}</h3>
		<tr>
			<div><font color="#800000"><%= "Category Name: #{@category.name}"%></font></div><br/>
			<% @category.products.each_with_index do |product,index| %>
				<% if (index%3) == 0 %>
		    	<% end %>
				<td style = "border: 1px solid black; padding: 50px;">
					<div><font color="#800000"><%= (product.product_name)%></font></div><br/>
					<% product.pictures.each do |photo| %>
						<div style = "width:100px">
							<%= link_to image_tag(photo.image.url(:small)), admin_product_path(product)%>
						</div>
					<%end%>
					<div><font color="#JJ2350"><%= "Price: #{product.price}"%></font></div>
					<div><%= truncate(product.description, :length => 20, :separator => '...')%></div>
					<div><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?',:method => :delete, :class => 'btn btn-mini btn-danger' %>&nbsp;&nbsp;
						<%= link_to "Edit", edit_admin_product_path(product),:remote => true, :class => 'btn btn-mini' %></div>
				</td>
			<%end%>
		</tr>
			<tr>
				<% @category.sub_categories.each do |sub_category|%>
					<% sub_category.products.each_with_index do |product,index| %>
						<% if (index%3) == 0 %>
				    	<% end %>
						<td style = "border: 1px solid black; padding: 50px;">
							<div><font color="#800000"><%= (product.product_name)%></font></div><br/>
							<% product.pictures.each do |photo| %>
								<div style = "width:100px">
									<%= link_to image_tag(photo.image.url(:small)), admin_product_path(product)%>
								</div>
							<%end%>
							<div><font color="#JJ2350"><%= "Price: #{product.price}"%></font></div>
			            	<div><%= truncate(product.description, :length => 20, :separator => '...')%></div>
			            	<div><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?',:method => :delete %>&nbsp;&nbsp;
							<%= link_to "Edit", edit_admin_product_path(product),:remote => true %></div>
						</td>
					<%end%>
				<%end%>
			</tr>
	</table>
</div><br/>

<div style = "margin-left:450px">
	<%= button_to "Add Products", new_admin_product_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get, :class => 'btn btn-primary' %>
</div>

<div id = "edit_form">
</div>
