<div style="float: right;">
  <div style = "margin-right:20px">
    <%= form_tag categories_path, :method => 'get' do %>
      <div style = "margin-left:15px;">
        <p>
          <%= text_field_tag :search, params[:search], :placeholder => "search category" %>
        </p>
        </div>
    <% end %>
  </div>
</div>
<div style = "margin-left:50px;">
  <font color="#800000"><b>List Of Categories</b></font>
<% @categories.each do |category|%>
    <ul>
      <li>
        <p><%= link_to "#{category.name}", category_path(category) %>
      <ul>
      <% category.sub_categories.each do |sub_category| %>    
        <li>
          <p><%= link_to "#{sub_category.name}", category_path(sub_category)%> 
        </li>
      <%end%>
      </ul>
    </ul>
  <% end %>
  <%= will_paginate @categories%>
</div>
